h1{
    color: green;
    font-size: 100px;
    text-align: center;
    background-color: orange;
    font-family: monospace;
}

p{
    color: blue;
    font-size: 35px;
    text-align: justify;
    line-height: 50px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    text-transform: uppercase;
    word-spacing: 35px;
}
